  .App-header {
    background-color: #F4F5F9;
    height: 30px;
    padding: 5px;
    color: darkgray;
    text-align: center;
    font-size: 15px;
    align-content: center;
  }

  .App-title {
    font-size: 1.5em;
  }

  Button{
    height: 5px;
  }