#footer {
    bottom:0;
    padding-bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #F4F5F9;
    align-content: center;
    padding-block-end: .3%;
    color: darkgray;
    
 }

 #cpr{
     color: rgb(149, 148, 148);
 }

 #sm{
     color: black;
 }