#footer {
    bottom:0;
    padding-bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #F4F5F9;
    align-content: center;
    color: darkgray;
 }

 #cpr{
     color: rgb(149, 148, 148);
 }
 
 #cp{
    margin-bottom: .2%;
    text-align: center;
    
}